# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(url)

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3 = pd.read_csv(url)

In [5]:
novo_df = pd.concat([df, df2, df3], axis=0)
novo_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
7066,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
7067,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
7068,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
7069,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M

In [8]:
novo_df.shape

(12074, 13)

In [10]:
novo_df.columns = novo_df.columns.str.lower()
novo_df.columns = novo_df.columns.str.strip().str.replace(' ', '_')
novo_df.columns.unique()

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount', 'state'],
      dtype='object')

In [11]:
novo_df.isnull().sum()

customer                      2937
st                           10007
gender                       10129
education                     2937
customer_lifetime_value       2944
income                        2937
monthly_premium_auto          2937
number_of_open_complaints     2937
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
state                         5004
gender                        5004
dtype: int64

In [15]:
novo_df.total_claim_amount.fillna(novo_df.total_claim_amount.mean(), inplace=True)
novo_df.income.fillna(novo_df.income.mean(), inplace=True)
novo_df.replace(to_replace="Female", value="F", inplace=True)
novo_df.replace(to_replace="female", value="F", inplace=True)
novo_df.replace(to_replace="Male", value="M", inplace=True)

In [17]:
novo_df.replace(to_replace="AZ", value="Arizona", inplace=True)
novo_df.replace(to_replace="Cali", value="California", inplace=True)
novo_df.replace(to_replace="WA", value="Washington", inplace=True)

In [19]:
novo_df.replace(to_replace="Bachelors", value="Bachelor", inplace=True)

In [20]:
novo_df['customer_lifetime_value'] = novo_df['customer_lifetime_value'].str.replace(r'%', '', regex=True)
novo_df['customer_lifetime_value'].fillna(method='ffill', inplace=True)
novo_df['customer_lifetime_value'].fillna(method='bfill', inplace=True)

In [21]:
novo_df.replace(to_replace="Sports Car", value="Luxury", inplace=True)
novo_df.replace(to_replace="Luxury SUV", value="Luxury", inplace=True)
novo_df.replace(to_replace="Luxury Car", value="Luxury", inplace=True)

In [23]:
novo_df = new_df.rename(columns={'st': 'state'})
novo_df.drop_duplicates(inplace=True)

In [25]:
def same_merge(x): return ','.join(x[x.notnull()].astype(str))

df_merged = novo_df.groupby(level=0, axis=1).apply(lambda x: x.apply(same_merge, axis=1))

df_merged.columns

df_merged.isnull().sum()

Customer                     0
Customer Lifetime Value      0
Education                    0
GENDER                       0
Gender                       0
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Policy Type                  0
ST                           0
State                        0
Total Claim Amount           0
Vehicle Class                0
dtype: int64

In [26]:
df_merged.isnull().any()

Customer                     False
Customer Lifetime Value      False
Education                    False
GENDER                       False
Gender                       False
Income                       False
Monthly Premium Auto         False
Number of Open Complaints    False
Policy Type                  False
ST                           False
State                        False
Total Claim Amount           False
Vehicle Class                False
dtype: bool

# Challenge 2: Structuring Data

In [27]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df_mkt = pd.read_csv(url)

In [28]:
df_mkt.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [29]:
df_mkt.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10905    False
10906    False
10907    False
10908    False
10909    False
Length: 10910, dtype: bool

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [31]:
df_value = pd.pivot_table(df_mkt, values='customer_lifetime_value', index='sales_channel', aggfunc='sum').round(2)
df_value

df_mkt.columns

pivot_df = df_mkt.pivot_table(index='education', columns='gender', values=['customer_lifetime_value'], aggfunc='mean')
pivot_df

                     customer_lifetime_value
gender                                     F            M
education
Bachelor                         7874.269478  7703.601675
College                          7748.823325  8052.459288
Doctor                           7328.508916  7415.333638
High School or Below             8675.220201  8149.687783
Master                           8157.053154  8168.832659